# what is Data?

 Data is collection of information gathersed by observations, mesurments, resarch or analysis. In current world Every thing is data . Ex - sending message in whatapp, posting photo in fb every thing is data

# How to store Data?
So now we have data for using data we need to store it in a temporary space to perfome any kind of oparations like
addition, divison etc, it is called variabels.

In [72]:
a = 1

In [74]:
# you can't star with a digit, spacial chr except underscore for a variabel
@name = 1

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1789263275.py, line 2)

In [75]:
1name =1

SyntaxError: invalid decimal literal (3392674422.py, line 1)

In [77]:
name* = 1

SyntaxError: invalid syntax (883783691.py, line 1)

In [76]:
_name = 1

In [78]:
name_ =1

In [73]:
# Variabels are case sesatives
abv = 1
Abv = 10
print(abv)
print(Abv)

1
10

In [5]:
# Dynamic typing -->  python automatic detact data types, but other languge we have to define variabel data type
## it python advantage and disadvantage both. When it try to check data types it make it slower than other languge
a = 7 
type(a)

int

In [2]:
# Dynamic Binding --> In python we can modify variabels value but other languge support static binding , so, they can't change or modify veriabels value
a = 5
print(a)
a = "ac"
print(a)

5
ac

# Python builtin data types:

Every Data diffrent it self like . Their can be number or numaric data, string data, Bolen data, Date time

* Numaric  --> numarical data takes b=numbers 1,2,3,6
* string  --> textual info
* Boolen  --> Bool varibels two kind 1. True, 2. False
* Date time --> time format data

# Operators

* A operator is a symbole or keyword in pogramming and math that perfome a spacific action on one or more values.

Types of opertors:

1. Arithmetic operators

2. Assignment operators

3. Comparison operators

4. Logical operators

5. Identity operators

6. Membership operators

## Arithmetic operators

In [1]:
# Additions
4 + 5

9

In [2]:
a = 5
b = 6
a + b

11

In [3]:
#  substaction
4 - 6

-2

In [4]:
6 -5

1

In [5]:
# multiplication
4*5

20

In [6]:
6*5

30

In [7]:
# Devision
25 /5

5.0

In [8]:
12/5

2.4

In [ ]:
# float division
12//5

2

In [12]:
# Modules --> It returns the remainder of a division between two numbers.
4 %5

4

In [ ]:
5 % 6

5

In [14]:
# Power or expoentiation
8**2

64

In [15]:
2**3

8

In [16]:
# Order of Operations followed in Python
2 / 10 * 10 +6

8.0

In [17]:
25 /(2*10) + (24 /4) +8

15.25

In [19]:
# memory address
a = 6
id(a)

140721541032536

In [20]:
# Type is in built function in python to check data types of a variables
type(a)

int

In [21]:
v = ml
type(v)

NameError: name 'ml' is not defined

In [22]:
v = "ml"
type(v)

str

In [23]:
f = 1.5
type(f)

float

In [24]:
s = '5'
type(s)

str

In [1]:
7/5

1.4

In [2]:
7//5

1

In [3]:
7%5

2

In [4]:
3 //4

0

## Assignment Operators
use to assign values to variables.

In [25]:
# assign variable
a = "orenge"
print(a)

orenge

In [26]:
# multipel variable with same value
a = b = c =5
print(a)
print(b)
print(c)

5
5
5

In [28]:
# unpacking
a, b ,c = ["orenge", "apple", "cherry"]
print(a)
print(b)
print(c)

orenge
apple
cherry

## Comparison (Relational) Operators
* These operators will allow us to compare variables and output a Boolean value

In [29]:
a , b

('orenge', 'apple')

In [31]:
b = a

In [32]:
a

'orenge'

In [33]:
b

'orenge'

In [34]:
b = False
type(b)

bool

In [35]:
a > b

TypeError: '>' not supported between instances of 'str' and 'bool'

In [38]:
a =7 ; b =8
a > b

False

In [39]:
# Equal
2  == 3

False

In [40]:
2 ==0

False

In [41]:
## == is a comparision operator and = is a assignment operator

In [43]:
3 !=2

True

In [44]:
10>45

False

In [45]:
45>10

True

In [46]:
45 >= 0

True

In [47]:
0<= 1

True

## Logical Operators

In [48]:
# and Gate
# True =1 , False = 0

In [52]:
x = 5 
y = 10
x < 6 and 6< 11 # True and True = True

True

In [53]:
5 >6 and 6> 5 # Flase and True =False

False

In [56]:
# or Gate
# if either condition true then it return true

In [55]:
x < 6 or 6< 11

True

In [57]:
5 >6 or 6> 5

True

In [59]:
# not Gate
# reverse result

In [60]:
5 >6

False

In [61]:
not 5 >6

True

In [62]:
5 >6 and 6> 5

False

In [63]:
not(5 >6 and 6> 5)

True

## Membership Operators

In [64]:
# Check if a value exists in a sequence.

In [65]:
# in Check if a value exists in a sequence.
"a" in 'apple'

True

In [66]:
y=[3,4,5,7,7,343,45676,5,"ravi",4+6j,0.5]

5 in y

True

In [67]:
# Value does not exist
90 not in y

True

## Identity Operators
Check if two variables refer to the same object in memory.

In [68]:
# Checks if the values of two variables are equal.

a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)   #True → values are equal

True

In [69]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a is b)   #False → different memory locations

False

In [70]:
id(a)

1776330660288

In [71]:
id(b)

1776339727232