# Tuple

* In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed

You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

Tuples are ordered

Tuples are immutable (you canâ€™t modify, add, or remove items once created)

Tuples can contain duplicate values

Tuples can store different data types

In [ ]:
# create tuple
t =(1,2,3,6,"ac",1.2,True)

In [2]:
type(t)

tuple

In [3]:
t

(1, 2, 3, 6, 'ac', 1.2, True)

In [4]:
empty_tupel =()
type(empty_tupel)

tuple

# Indexing
Indexing work just like in lists

A tuple index refers to the location of an element/or Items in a tuple

. Remember the indexing begins from 0 in Python

. The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

In [5]:
t= (1,2,23,8)

In [6]:
# grab index 2 element
t[2]

23

In [7]:
nt = ("ac",'vg','kc')
nt[1]

'vg'

In [8]:
nt[1][1]

'g'

In [9]:
# neg index
nt[-1]

'kc'

In [10]:
nt[-3]

'ac'

In [11]:
nt[9]

IndexError: tuple index out of range

# Slicing

We can use a : to perform slicing which grabs everything up to a designated point.

The starting index is specified on the left of the : and the ending index is specified on the right of the :.
[: :]-> [star: end: jump]

Remember the element located at the right index is not included. i.e right side value always present (n-1)

if we use another second : it indicates step value means skipping of some part (n-1)

In [12]:
abc=1,2,3,9,143,11.5,"aditya","swathi","sujana"

In [13]:
type(abc)

tuple

In [14]:
abc[:]

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [15]:
abc[1:]

(2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [16]:
abc[-1]

'sujana'

In [17]:
abc[::-1]

('sujana', 'swathi', 'aditya', 11.5, 143, 9, 3, 2, 1)

In [18]:
abc[:-6]

(1, 2, 3)

In [19]:
abc[-9:-1:2]

(1, 3, 143, 'aditya')

In [20]:
print(abc[-1::1])

('sujana',)

# Methods

In [21]:
abc

(1, 2, 3, 9, 143, 11.5, 'aditya', 'swathi', 'sujana')

In [24]:
abc.index(3) # return index no by value

2

In [25]:
abc.index(143)

4

In [26]:
abc.index("aditya")

6

In [27]:
tuple(range(0,11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [29]:
a = 'anshu'
len(a)

5

In [30]:
for i in range(len(a)):
    print(i)

0
1
2
3
4

In [31]:
for i in range(len(a)):
    print(i,'--->',a[i])

0 ---> a
1 ---> n
2 ---> s
3 ---> h
4 ---> u

In [32]:
for i in range(len(abc)):
    print(i,'--->',abc[i])

0 ---> 1
1 ---> 2
2 ---> 3
3 ---> 9
4 ---> 143
5 ---> 11.5
6 ---> aditya
7 ---> swathi
8 ---> sujana

In [33]:
# Count -> return no of time the value apper in tupel
abc.count(2)

1

In [34]:
abc.count("sublst")

0

In [35]:
# Immutability -> It can't be stressed enough that tuples are immutable
new_t = (1,2,3,6,5,9,6,8,7,4)

In [36]:
new_t[5]

9

In [37]:
new_t[5] ="av"

TypeError: 'tuple' object does not support item assignment

In [38]:
new_t[5] =5

TypeError: 'tuple' object does not support item assignment

In [39]:
# zip()
# zip() function takes multiple lists as arguments and zips them together

# This function returns a list of n-paired tuples where n is the number of lists being zipped

In [42]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']

list(zip(city_list,river_list))

[('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra')]

In [43]:
tuple(zip(city_list,river_list))

(('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra'))

In [ ]:
t

(1, 2, 23, 8)

In [47]:
t2 = (2,3,6,5,5)
new = tuple(zip(t,t2)) # remove extra element

In [48]:
new

((1, 2), (2, 3), (23, 6), (8, 5))

In [49]:
new +1

TypeError: can only concatenate tuple (not "int") to tuple

In [50]:
new + tuple(1)

TypeError: 'int' object is not iterable

In [52]:
t +1

TypeError: can only concatenate tuple (not "int") to tuple

In [53]:
t + tuple(1)

TypeError: 'int' object is not iterable

# When to use Tuples
To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution.