# Sets

* Set is unorder collection of data with unique elements. set constracts with set()
* set cannot have duplicated values
* mutable like list

In [1]:
# empty set
empty_set = set()
type(empty_set)

set

In [2]:
# set example
s = {1,2,3,6}

In [3]:
type(s)

set

* We cannot create empty set with {} . it difine as empty dictionary

In [4]:
d = {}
type(d)

dict

In [5]:
s = {1,2,3,6,4,5,"ac","kf"}

In [6]:
s

{1, 2, 3, 4, 5, 6, 'ac', 'kf'}

In [7]:
# list of repatered items
l = [1,2,3,6,5,5,4,1,2,2]

In [8]:
l

[1, 2, 3, 6, 5, 5, 4, 1, 2, 2]

In [ ]:
set(l) # return only unique elements

{1, 2, 3, 4, 5, 6}

In [42]:
# mutable 
s

{1, 2, 3, 4, 5, 6, 'ac', 'kc', 'kf'}

In [ ]:
s[1]  # indexing not present

TypeError: 'set' object is not subscriptable

In [12]:
# But we can have tuples as set elements, they are immutable
my_set = {1, 2, (2,3)}
my_set

{(2, 3), 1, 2}

In [13]:
my_set[1]

TypeError: 'set' object is not subscriptable

In [17]:
# add -> add element to existing set
s.add("kc")

In [18]:
s

{1, 2, 3, 4, 5, 6, 'ac', 'kc', 'kf'}

In [19]:
# update -> helps to add multipels elements to add
x = {"ac","nf",1}
x.update({1,23,5,6,5,7,8})

In [20]:
x

{1, 23, 5, 6, 7, 8, 'ac', 'nf'}

In [21]:
# remove -> remove item from a set

In [22]:
x.remove("nf")

In [23]:
x

{1, 23, 5, 6, 7, 8, 'ac'}

In [24]:
x.remove(45)

KeyError: 45

In [ ]:
# Union -> combine unique elements from two sets
s1 = {4,2,3,6,5,14,5}
s2 = {1, 2, 3, 4, 5}

In [26]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 14}

In [ ]:
s1 | s2 # also donted by |

{1, 2, 3, 4, 5, 6, 14}

In [28]:
# intersection()
# intersection() method returns the common item of two sets

# Also denoted by the operator &

In [29]:
s1.intersection(s2)

{2, 3, 4, 5}

In [30]:
s1 & s2

{2, 3, 4, 5}

In [31]:
# difference()
# difference() method returns the different items from two sets

# Difference of the set B from set A i.e, (A - B) is a set of elements that are only in A but not in B

In [32]:
s1 -s2

{6, 14}

In [34]:
s1.difference(s2)

{6, 14}

In [35]:
s2.difference(s1)

{1}

In [36]:
# symmetric_difference()
# symmetric_difference() method returns the set of elements in A and B but not in both (excluding the intersection)

# Also denoted by the operator ^

In [37]:
s1.symmetric_difference(s2)

{1, 6, 14}

In [38]:
s2.symmetric_difference(s1)

{1, 6, 14}

In [39]:
s1^s2

{1, 6, 14}