# Lambda function
Lambda function is a anonymus function . It doesn't have any keywords like print, return, it only one keyword called lambda.
it is use to create one line function,tipically for short tearm use.

In [1]:
"lambda argument : expression"
""" 
lambda is keyword use to define a lambda function
argument one or multipel argument. separated by a comma
expression is to evaluate single oparation and return result 
"""

' \nlambda is keyword use to define a lambda function\nargument one or multipel argument. separated by a comma\nexpression is to evaluate single oparation and return result \n'

In [2]:
def sum(a,b):
   return a +b
sum(5,6)

11

In [3]:
add =lambda a,b : a +b
add(5,6)

11

In [4]:
y = lambda *args: args

In [5]:
y(5,6,9,63,32,2,11)

(5, 6, 9, 63, 32, 2, 11)

In [6]:
d = lambda a,b,c,*m : a+b+c//m

In [9]:
d(a=5,b=6,c=8,*m=5)

SyntaxError: cannot assign to iterable argument unpacking (1364478710.py, line 1)

In [11]:
t ="This is python Lambda function"
s = lambda t : t.split()  if len(t)>5 else t.lower()

In [12]:
s(t)

['This', 'is', 'python', 'Lambda', 'function']

# Map
* It applies the given function logic to all iterable and return new modify data.
* it applies the same function to each of sequence

In [23]:
l

[1, 2, 3, 4, 5, 6, 7, 5, 3, 8, 12]

In [25]:
map(l)

TypeError: map() must have at least two arguments.

In [27]:
squre = lambda x: x**2
list(map(squre,l))

[1, 4, 9, 16, 25, 36, 49, 25, 9, 64, 144]

In [28]:
def cube(x):
   return x**3

In [30]:
list(map(cube,l))

[1, 8, 27, 64, 125, 216, 343, 125, 27, 512, 1728]

In [32]:
tuple(map(lambda x: str(x),l))

('1', '2', '3', '4', '5', '6', '7', '5', '3', '8', '12')

In [47]:
t = tuple(range(1,12))
t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [59]:
tuple(map(lambda x:x**2==0,t))

(False, False, False, False, False, False, False, False, False, False, False)

In [52]:
s = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
type(s)

set

In [56]:
list(map(lambda x:x%2==0,s))

[False, True, False, True, False, True, False, True, False, True, False]

In [51]:
dict(map(lambda x:x%2==0,t))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

# FIITER Function:
it filtres an item out of a Sequence

It is used to filter the given iterable (list, sets, tuple) With the help of another function passed as an argument to test all the elements to be true or false

Its output is a filtered list

In [33]:
l

[1, 2, 3, 4, 5, 6, 7, 5, 3, 8, 12]

In [34]:
filter(lambda x: x%2==0 ,l)

In [35]:
list(filter(lambda x: x%2==0 ,l))

[2, 4, 6, 8, 12]

In [36]:
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']

In [41]:
len_3 = lambda x: len(x)>=5
list(filter(len_3,words))

['apple', 'banana', 'cherry', 'elderberry']

In [58]:
t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [60]:
logic= lambda x: x**2>30

In [61]:
list(filter(logic,t))

[6, 7, 8, 9, 10, 11]

# REDUCE Function
It applies the Same operation to items of a Sequence.

It uses the result of operations as the first paris of the next operation. It returns, an item and not a list.

Use reduce to perform operations that involve comparing values or finding extremum values like maximum or minimum in a collection.

Use reduce when you need to combine all elements of a list into a single result through a binary operation, like product, concatenation, or any form of aggregation.

This function is defined in "functools" module.

In [42]:
from functools import reduce

In [44]:
len(l)

11

In [45]:
reduce(lambda a,b:a+b)

TypeError: reduce expected at least 2 arguments, got 1

In [46]:
reduce(lambda a,b:a+b,l)

56

# list comprehensions

List comprehensions are a tool for transforming one list (any iterable actually) into another list.

During this transformation, elements can be conditionally included in the new list and each element can be transformed as needed.

List comprehensions in Python are great, but mastering them can be tricky because they don’t solve a new problem: they just provide a new syntax to solve an existing problem.

In [13]:
t

'This is python Lambda function'

In [15]:
[i for i in t]

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'L',
 'a',
 'm',
 'b',
 'd',
 'a',
 ' ',
 'f',
 'u',
 'n',
 'c',
 't',
 'i',
 'o',
 'n']

In [17]:
[i**3 for i in range(1,20,2)]

[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859]

In [19]:
l = [1,2,3,4,5,6,7,5,3,8,12]
even_squred =[i**2 for i in l if i%2==0]

In [20]:
even_squred

[4, 16, 36, 64, 144]

# enumerate

In [21]:
l

[1, 2, 3, 4, 5, 6, 7, 5, 3, 8, 12]

In [22]:
for i,e in enumerate(l):
   print(f"{i}  ->{e}")

0  ->1
1  ->2
2  ->3
3  ->4
4  ->5
5  ->6
6  ->7
7  ->5
8  ->3
9  ->8
10  ->12